html{
    box-sizing: border-box;
}

*, *::after , *::before {
    box-sizing: inherit;
}

body{
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "OpenSans" sans-serif, "Raleway";
}

img{
    max-width: 100%;
    height: auto;
}

ul{
    padding: 0;
    list-style-type: none;      
}

a{
    text-decoration: none;
}

@font-face{
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/source-sans-pro-v19-latin-regular.woff2") format("woff2"), 
         url("../fonts/source-sans-pro-v19-latin-regular.woff") format("woff");
  }

  @font-face{
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url("../fonts/source-sans-pro-v19-latin-600.woff2") format("woff2"), 
         url("../fonts/source-sans-pro-v19-latin-600.woff") format("woff");
  }

  @font-face{
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url("../fonts/source-sans-pro-v19-latin-700.woff2") format("woff2"),
         url("../fonts/source-sans-pro-v19-latin-700.woff") format("woff"); 
  }

.header{
    height: 45px;
    padding: 6px;
    border: 1px solid #000000;
    background-color: #fff;
}

.header__input{
    width: 225px;
    height: 30px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #F4F4F4;
}

.header__btn{
    margin-right: 40px;
    background-color: #F4F4F4;
}

.header__cap{
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #2481CC;
}

.header__time{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.0521739px;
    color: #A9A9A9;
}


.members{
    margin-top: 65px;
} 

.members-list{
    border-right: 1px solid #000;
    padding-right: 10px;
}

.members-item:hover{
    cursor: pointer;
    background-color: #4C91C7;
}

.members__img{
    background-size: cover;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20px;
}

.pin{
    color: rgb(139, 104, 104);
}


.message__name{
    margin-right: 400px;
}

.footer{
    padding: 10px;
    background-color: #fff;
}

.settings{
    border-right: 1px solid #0000;
}

.message {
    border-left: 1px solid #0000;
}

.massages__gif{
    color: #2481CC;
    font-weight: 700;
    font-size: 16px;
}